[user]
	name = Alexis Tejeda
	email = alexis.tejeda@temba.cl
[credential]
    helper = cache --timeout=3600
[push]
    #default = matching
    default = current
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    conflict = diff --name-only --diff-filter=U 
    files = diff-tree --no-commit-id --name-only -r 
[gpg]
    program = gpg
[core]
    editor = vim
[init]
	defaultBranch = master
