"*":
  "atom-beautify":
    _analyticsUserId: "a0de7585-f8a2-45a5-9493-12a53abbd2a6"
  core:
    audioBeep: false
    ignoredNames: [
      ".git"
      ".svn"
      ".pyc"
      ".class"
    ]
    themes: [
      "seti-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Hack, monospace"
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "02056aa3-6498-e6a6-9b00-d974527c951b"
  minimap: {}
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
