"*":
  "autocomplete-python":
    useKite: false
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "Monospace"
    fontSize: 13
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "413ede59-fb93-4c8f-a53f-a74a3b779619"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
