"*":
  core:
    audioBeep: false
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "02056aa3-6498-e6a6-9b00-d974527c951b"
  welcome:
    showOnStartup: false
